@import url('https://fonts.cdnfonts.com/css/modern-planner');
@import url('https://fonts.cdnfonts.com/css/mona-sans');

.container{
	max-width: 100%;
	margin: 0 auto;
	display: flex;
}
.col-1{
	width:75%;
}

.col-2{
	width:25%;
}

.col-2 .neon-box {
	height: 67vh;
	overflow: scroll;
}

.grid-box{
	margin: 0 auto;
	display: grid;
}
@media (max-width: 996px) {
	.container{
		display: block;
	}
	.col-1{
		width:100%;
	}

	.col-2{
		width:100%;
	}
	
	.col-2 .neon-box {
	height: 100vh;
	}
}

@media (min-width: 996px) {
	.grid-box{ grid-template-columns: repeat(3, 1fr); }
}

.headline {
	font-family: 'Mona-Sans', sans-serif;
	text-align : center;
	line-height : 30px;
	margin-bottom : 20px;
}

.headline h1 {
	font-family: 'Modern Planner', sans-serif; 
	border-bottom-style: solid;
	border-bottom-color: #CCDC00;
}

.neon-box {
	background-color: #CCDC00;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	padding: 10px;
	font-size : large;
	font-weight : bold;
	line-height : 30px;
	width : 80wh;
	height : 22vh;
	position: relative;
	overflow: hidden;
}

.neon-box img {
	width: 100%;
	max-width: inherit;
	position: absolute;
	top: 80%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1.0);
	-moz-transform: translate(-50%, -50%) scale(1.0);
	-o-transform: translate(-50%, -50%) scale(1.0);
	transform: translate(-50%, -50%) scale(1.0);
}

.neon-box iframe {
	width : 100%;
}

.neon-box-mini {
	height : 30vh;
}